.columnContainer {
    width: calc("80vw-50px");
    height: 70vh;
    padding: 25px;
    padding-left: 0px;
    overflow: auto;
    display: flex;
}

.inviteLink {
    width: 85vw;
    margin: auto;
    border: 1px solid white;
    padding: 1vh 1vw;
    border-radius: 5px;
    text-align: center;
    font-size: 11pt;
}

.inviteMessage {
    font-weight: bold;
    font-size: 9pt;
}

.buttonBox {
    width: 85vw;
    margin: auto;
    text-align: center;
    padding: 3vh 5vw;
}

input {
    padding: 1vh 1vw;
    font-family: Poppins;
    font-weight: bold;
}

.middleButton {
    margin-left: 3vw;
    margin-right: 3vw;
}