.boardBody {
    height: 100vh;
    overflow: hidden;
}

.columnContainer {
    width: 95vw;
    margin: auto;
    height: 75vh;
    padding: 2vh 1vw;
    padding-left: 0px;
    overflow: auto;
    display: flex;
}

.inviteLink {
    width: 18vw;
    margin: auto;
    padding: 1vh 1vw;
    text-align: center;
    font-size: 6pt;
}

.inviteMessage {
    font-weight: bold;
    font-size: 9pt;
}

.infoBox {
    width: 20vw;
    text-align: center;
    padding: 3vh 2.5vw;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

.infoBox input {
    padding: 1vh 1vw;
    font-family: Poppins;
    font-weight: bold;
    font-size: 9pt;
    height: 5vh;
    margin-top: 0px;
    width: 150px;
    margin-top: 1vh;
}

.collabBox {
    margin-top: 5vh;
}

.collabList {
    height: 32.5vh;
    margin-top: 2.5vh;
    overflow: auto;
    text-align: left;
}