.boardBody {
    height: 100vh;
    overflow: hidden;
}

.columnContainer {
    width: 95vw;
    margin: auto;
    height: 61vh;
    border: 1px solid white;
    padding: 3vh 1vw;
    padding-left: 0px;
    overflow: auto;
    display: flex;
}

.inviteLink {
    width: 40vw;
    margin: auto;
    padding: 1vh 1vw;
    text-align: center;
    font-size: 8pt;
}

.inviteMessage {
    font-weight: bold;
    font-size: 9pt;
}

.buttonBox {
    width: 85vw;
    margin: auto;
    text-align: center;
    padding: 3vh 5vw;
    height: 10vh;
    padding-top: 0vh;
}

input {
    padding: 1vh 1vw;
    font-family: Poppins;
    font-weight: bold;
    font-size: 9pt;
    height: 5vh;
}

.middleButton {
    margin-left: 3vw;
    margin-right: 3vw;
}