body {
  background-color: var(--light-purple);
  background-image: url('https://i.imgur.com/awbdrL4.jpg');
  background-size: cover;
  color: white;
}

.Skeleton-container {
    height: 100vh;
    text-align: center;
  }

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 30vh;
  font-family: Lora;
  font-style: italic;
  letter-spacing: 5px;
}

.blurb {
  padding-bottom: 5vh;
  width: 50vh;
  margin: auto;
  font-family: Poppins;
  font-style: normal;
  letter-spacing: normal;
}

.logo {
  height: 80px;
  width: 50px;
  margin: auto;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}