.column {
    border-radius: 25px;
    border: 1px solid white;
    padding: 25px;
    width: 350px;
    height: 63vh;
    overflow: auto;
    margin-left: 25px;
}

.column::-webkit-scrollbar {
    visibility: hidden;
}