.EditTask-containerVisible {
  visibility: visible;
  border: 1px solid white;
  padding: 5vh 2.5vw;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50vw;
  height: 50vh;
  margin: auto;
  margin-top: 20vh;
  margin-left: 22.5vw;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.EditTask-containerHidden {
  visibility: hidden;
}

.pointsField {
  text-align: right;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  font-family: Poppins;
  width: 10vw;
}

.dateField {
  text-align: right;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  font-family: Poppins;
  width: 10vw;
  letter-spacing: 1px;
}

.pointsField:focus {
  outline: none;
}

.dateField:focus {
  outline: none;
}