.EditProfile-containerVisible {
  visibility: visible;
  border: 1px solid white;
  padding-top: 3vh;
  padding-bottom: 3vh;
  position: fixed;
  z-index: 1;
  width: 30vw;
  top: 0;
  left: 0;
  margin-left: 35vw;
  margin-top: 20vh;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.EditProfile-containerHidden {
  visibility: hidden;
}

.editTitle {
  font-weight: bold;
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.editBio input {
  width: 25vw;
  margin: auto;
}