.EditProfile-containerVisible {
  visibility: visible;
  border: 1px solid white;
  position: fixed;
  z-index: 1;
  width: 50vw;
  height: 52.5vh;
  top: 0;
  left: 0;
  margin-top: 17.5vh;
  margin-left: 22.5vw;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 5vh 2.5vw;
}

.EditProfile-containerHidden {
  visibility: hidden;
}

.ep-title {
  font-weight: bold;
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.editTitle {
  font-weight: bold;
  font-size: 10pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 15px;
}

.editBio input {
  width: 48vw;
  padding: 3vh 1vw;
  margin: auto;
  font-family: Poppins;
  margin-top: 1vh;

}

.planetBuy {
  height: 20vh;
  overflow: auto;
  display: flex;
}

.editButtons input {
  height: 40px;
  text-transform: uppercase;
  font-family: Poppins;
  width: 75px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 10pt;
}

.secondButton {
  margin-left: 25px;
}