.GetCode-containerVisible {
  visibility: visible;
  border: 1px solid white;
  padding: 5vh 2.5vw;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 35vw;
  height: 25vh;
  margin: auto;
  margin-top: 25vh;
  margin-left: 30vw;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.GetCode-containerHidden {
  visibility: hidden;
}