.NewTask-containerVisible {
  visibility: visible;
  border: 1px solid white;
  padding: 5vh 2.5vw;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50vw;
  height: 22.5vh;
  margin: auto;
  margin-top: 32.5vh;
  margin-left: 25vw;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.NewTask-containerHidden {
  visibility: hidden;
}

.boxTitle {
  font-size: 11pt;
  font-weight: bold;
}

.overlayLabel {
  font-style: italic;
  opacity: 0.8;
  font-size: 10pt;
}

.dropdownLabel {
  font-weight: bold;
  font-size: 11pt;
  padding-right: 10px;
}

.taskField {
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 40vw;
}

.taskField label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  width: 40vw;
}

.taskField input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  padding: 1vh 5vw;
  font-size: 16px;
  color: black;
  font-family: Poppins;
  width: 40vw;
}

.taskField input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 40vw;
}

.taskField input:focus ~ label {
  top: -12px;
  font-size: 12px;
  font-weight: 600;
  width: 40vw;
}

.taskField input:valid ~ label {
  top: -12px;
  font-size: 12px;
  font-weight: 600;
  width: 40vw;
}

.columnSelect {
  position: relative;
}

.columnSelect select {
  width: 50vw;
  font-family: Poppins;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1vh 0.5vw;
}

option {
  letter-spacing: 1px;
}