.NewTask-containerVisible {
  visibility: visible;
  border: 1px solid white;
  padding: 25px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 25vw;
  height: 25vh;
  margin: auto;
  margin-top: 15vh;
  margin-left: 37vw;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.NewTask-containerHidden {
  visibility: hidden;
}

.taskField {
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
}

.taskField label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.taskField input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: black;
  font-family: Poppins;
}

.taskField input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.taskField input:focus ~ label {
  top: -12px;
  font-size: 12px;
  font-weight: 600;
}

.taskField input:valid ~ label {
  top: -12px;
  font-size: 12px;
  font-weight: 600;
}