.Sidebar-show {
	background-color: black;

	position: fixed;
	width: 20vw;
	height: 100vh;

	left: 80vw;
	top: 0;
	z-index: 1;

	transition:               left   500ms ease;
        -moz-transition:    left   500ms ease;
        -ms-transition:     left   500ms ease;
        -o-transition:      left   500ms ease;
        -webkit-transition: left   500ms ease;
}

.Sidebar-hide {
	background-color: black;
	
	position: fixed;
	width: 20vw;
	height: 100vh;

	left: 100vw;
	top: 0;
	z-index: 1;

	transition:               left   500ms ease;
        -moz-transition:    left   500ms ease;
        -ms-transition:     left   500ms ease;
        -o-transition:      left   500ms ease;
        -webkit-transition: left   500ms ease;
}

.createBoard {
	color: white;
	border: 1px solid white;
	padding: 5px;
	margin-top: 15px;
	border-radius: 25px;
	text-align: center;
}

.createBoard:hover {
	background-color: rgba(255,255,255,0.75);
	color: black;
}

.sideContainer {
	padding: 5vh;
	padding-right: 4vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	max-height: 96vh;
	overflow: auto;
}

.sideContainer::-webkit-scrollbar {
	width: 0.5em;
}

.sideContainer::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
   
.sideContainer::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	border-radius: 50px;
}