.Sidebar-show {
	background-color: black;

	position: fixed;
	width: 20vw;
	height: 100vh;

	left: 80vw;
	top: 0;
	z-index: 1;
}

.Sidebar-hide {
	background-color: black;
	
	position: fixed;
	width: 20vw;
	height: 100vh;

	left: 100vw;
	top: 0;
	z-index: 1;
}