.task {
    border-bottom: 1px solid white;
    padding: 10px;
}

.task:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.labelText {
    font-size: 10pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}

.descriptorText {
    display: inline-block;
    font-size: 10pt;
}

.doneBlock {
    margin-top: 5px;
    display: block;
    text-transform: uppercase;
    font-size: 8pt;
    height: 40px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Poppins;
    width: 75px;
}