.template:hover {
    background-color: rgba(175, 175, 175, 1);
}

.template:active {
    font-weight: bold;
}

.template {
    font-size: 9pt;
    padding: 1vh 1vw;
    letter-spacing: 0.5px;
}

.template-selected:active {
    font-weight: bold;
}

.template-selected {
    font-size: 9pt;
    padding: 1vh 1vw;
    letter-spacing: 0.5px;
    background-color: gray;
}